---
import Base from "../layout/Base.astro";
import { supabase } from "../scripts/supabase";

const cookie = Astro.cookies.get("sb-access-token");
if (!cookie) {
	return Astro.redirect("/signin");
}
const { data, error } = await supabase.auth.getUser(cookie.value);

if (error || !data.user.email) {
	return Astro.redirect("/signin");
}
---

<Base title="Dashboard">
	<p>Hi {data.user.email}</p>
	<a href="/api/auth/signout">Sign out</a>
</Base>
