---
import Base from "../layout/Base.astro";
import Supabase from "../icons/Supabase.astro";
import AstroIcon from "../icons/AstroIcon.astro";
export const prerender = true;
const title = "Supabase starter template";
---

<Base title={title}>
  <h1 class="text-2xl sm:text-4xl font-bold text-center">{title}</h1>
  <ul class="flex gap-6 items-center font-bold text-2xl mt-6">
    <li
      class="dark:bg-zinc-800 bg-white border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"
    >
      <AstroIcon />
    </li>
     &plus;
    <li
      class="dark:bg-zinc-800 bg-white border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"
    >
      <Supabase />
    </li>
  </ul>
  <p class="mt-6 max-w-prose">
    This is a starter template for building a website with Astro and Supabase
  </p>
</Base>
