---
import Base from "../layout/Base.astro";

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
	return Astro.redirect("/dashboard");
}
---

<Base title="Sign in">
  <form
    action="/api/auth/signin"
    method="post"
    style={{
      display: "flex",
      flexDirection: "column",
      maxWidth: "300px",
      gap: "0.5rem",
    }}
  >
    <label for="email">Email</label>
    <input id="email" type="email" name="email" />
    <label for="password">Password</label>
    <input id="password" type="password" name="password" />
    <button type="submit">Sign In</button>
  </form>
  <form action="/api/auth/signin" method="post" style={{
    marginTop: "1rem",
  }}>
    <button value="github" name="provider" type="submit">Sign in with GitHub</button>
  </form>
</Base>
