---
import Base from "../layout/Base.astro";
---

<Base title="Sign in">
  <form
    action="/api/auth/signin"
    method="post"
    
  >
    <label for="email">Email</label>
    <input id="email" type="email" name="email" />
    <label for="password">Password</label>
    <input id="password" type="password" name="password" />
    <button type="submit">Sign In</button>
  </form>
  <form action="/api/auth/signin" method="post">
    <button value="github" name="provider" type="submit">Sign in with GitHub</button>
  </form>
</Base>
